{% extends 'base.html' %}

{% block content %}

<nav>
    <h1>
        <a href="/posts/feeds/">tergram</a>
    </h1>
    <a href="/posts/post_add/">Add post</a>
    <a href="/users/logout/">Logout</a>
</nav>

<div id="feeds" class="post-container">
    {% for post in posts %}
    <article id="post-{{post.id}}" class="post">
        <header class="post-header">
            {% if post.user.profile_image %}
            <img src="{{ post.user.profile_image.url}}">
            {% endif %}
            <span>{{post.user.username}}</span>
        </header>

        <div class="post-images splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for image in post.postimage_set.all %}
                    {% if image.photo %}
                    <li class="splide__slide">
                        <img src="{{image.photo.url}}">
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="post-content">
            {{ post.content|linebreaksbr }}
        </div>

        <div class="post-buttons">
            <button>Likes(0)</button>
            <span>Comments({{post.comment_set.count}})</span>
        </div>

        <div class="post-comments">
            <ul>
                {% for comment in post.comment_set.all %}
                    <li>
                        <span>{{ comment.user.username }}</span>
                        <span>{{ comment.content}}</span>
                        {% if user == comment.user %}
                            <form method="POST" action="/posts/comment_delete/{{comment.id}}/">
                                {% csrf_token %}
                                <button type="submit">삭제</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <small>{{post.created}}</small>
        <div class="post-comment-create">
            <form method="POST" action="/posts/comment_add/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{post.id}}">
                {{ comment_form.content}}
               <button type="submit">게시</button>
            </form>

        </div>
    </article>
    {% endfor %}

</div>>
<script>
    const elms = document.getElementsByClassName('splide')
    for (let i = 0; i < elms.length; i++) {
        new Splide(elms[i]).mount();
    }
</script>

{% endblock %}